
  <h2>Eventos</h2>
  <hr>

  <div class="mb-4">
    <div class="row">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label>
      <input
        type="text"
        class="form-control mr-2"
        placeholder="buscar"
        [(ngModel)]="filtro">
      <!-- <button class="btn btn-outline-success">Buscar</button> -->
    </div>
  </div>
  </div>
  <!-- <h3>Filtro: {{filtro}}</h3> -->
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th><button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
          {{exibirImagem ? 'Ocultar' :  'Exibir'}}
        </button></th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let item of eventos">
        <td><img *ngIf="exibirImagem" src="/assets/{{item.imagemURL}}" [style.width.px]="widthImg" [style.margin.px]="marginImg"  alt=""></td>
        <td>{{item.eventoId}}</td>
        <td>{{item.tema}}</td>
        <td>{{item.local}}</td>
        <td>{{item.dataEvento}}</td>
        <td>{{item.qtdPessoas}}</td>
        <td>{{item.lote}}</td>
        <td><button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>&nbsp;
          <button type="button" class="btn btn-danger btn-sm">Exluir</button></td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado!</h4>
        </td>
      </tr>
    </tfoot>
  </table>


